body {
    margin: 0;
}


.conteiner {
    display: flex;
    background-color: beige;
}
.conteiner__wrapper {
    margin: 0 auto;
}

#grid {
    margin-left: auto;
    margin-right: auto;
  }
  
.cell{
    border:1px solid rgb(255, 208, 0);
    background: #e2aa32;
    width: 20px;
    height: 20px;
    text-align: center;
  }
.active {
    background-color: #fff9a1;
}
  
#table TR TD.mine {
      background: #FF0000;
  }