body {
    background-color: aqua;
}


.conteiner {
    display: flex;
}
.conteiner__wrapper {
    margin: 0 auto;
}

#grid {
    margin-left: auto;
    margin-right: auto;
  }
  
#table TR TD{
    border:1px solid white;
    background: #999999;
    width: 16px;
    height: 16px;
    text-align: center;
  }
  
#table TR TD.clicked {
      background: #333333;
  }
  
#table TR TD.mine {
      background: #FF0000;
  }